Django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
boto3
django-storages
celery
redis
Pillow
piexif
imagehash
openpyxl
reportlab
django-simple-history
pyotp
qrcode
django-cors-headers
django-ratelimit
cryptography
gunicorn
pytest
pytest-django
dj-database-url
firebase-admin
pytz

