# FieldMark Mobile Frontend Environment File Template

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCf_heThSYHIUDQVu85RbSqAvOqDtzLtIA
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=atia-fpo.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=atia-fpo
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=atia-fpo.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=709305379833
EXPO_PUBLIC_FIREBASE_APP_ID=1:709305379833:web:cc550f8f2833507e7a6b28
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-VBYL2F1RR9

EXPO_PUBLIC_API_URL=http://10.0.2.2:8000
